/* Основные стили для тела страницы */
body {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Контейнер с формой */
.container {
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

/* Заголовок страницы */
h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 3px 3px 10px red, -3px -3px 10px red;
    position: relative;
    z-index: 1;
    color: #f0f0f0;
}

/* Стили для кнопок */
button {
    background-color: #6a4c93;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

button:hover {
    background-color: #8a65c3;
}

button:active {
    transform: scale(0.98);
}

/* Стили для полей ввода */
input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    background-color: #2b2b2b;
    color: white;
    resize: none;
    font-size: 1em;
}

/* Для лучшего отображения игры на фоне */
body.dota2 {
    background: url('https://k1xmusic.github.io/dota-schedule/images/dota2-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Добавляем стили при наведении на элементы формы */
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
}
