body {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: transparent; /* Убираем фон тела */
}

.container {
    padding: 20px;
    width: 90%;
    max-width: 500px; /* Увеличиваем максимальную ширину контейнера */
    text-align: center; /* Центрирование текста внутри контейнера */
    position: relative;
    overflow: hidden; /* Скрытие переполнения для эффекта крови */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.4) 10%, transparent 10%);
    transform: rotate(30deg);
    animation: bloodFlow 5s infinite linear;
    z-index: -1;
}

@keyframes bloodFlow {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}

h1 {
    margin-bottom: 20px;
    font-size: 2em; /* Увеличиваем размер шрифта заголовка */
    text-shadow: 2px 2px 5px red, -2px -2px 5px red; /* Добавляем тени для 3D эффекта */
    position: relative;
    z-index: 1;
}

h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.4) 10%, transparent 10%);
    transform: rotate(30deg);
    animation: bloodFlowText 5s infinite linear;
    z-index: -1;
}

@keyframes bloodFlowText {
    0% { background-position: 0 0; }
    100% { background
